.jumbotron {  
    background-image: url("/assets/images/guilherme-bustamante-M4y3qMBzYi4-unsplash.jpg");   
    background-size: cover; 
    width: 100%;
    margin: auto;
    font-weight:500;
}

.jumb-text {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}


#bg-infocards, #bg-affirmations {
    background-size: cover; 
    width: 100%;
}

#bg-links {
    background-color: lightcyan;
}

#bg-links li {
    list-style-type: none;
}

.heading {
    background-color: #ffdfbf;
    height: 100px;
    text-align: center;
}

.card-group {
    background-color: #ffdfbf;
}
.col-sm-12 {

    /* Need to sort height so viewable in one screen then scroll down - see whiskey site */
    height: 30%;
}

#bg-links li {
    list-style-type: none;
}

/* Footer*/
.footer {
    height: 50px;
}


/* Media Query */

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}