/* Nav Bar */


/* 
.row img {
    height: 100vh;
    width: 100vh;
    object-fit: cover;
    } */

.jumbotron {  
    background-image: url(/assets/images/guilherme-bustamante-M4y3qMBzYi4-unsplash.jpg);
    background-size: cover; 
    width: 100%;
}

#bg-infocards, #bg-affirmations {
    background-color: pink;
    background-size: cover; 
    width: 100%;
}

#bg-infocards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.col-sm-12 {

    /* Need to sort height so viewable in one screen then scroll down - see whiskey site */
    height: 30%;
}
/* Media Query */

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}